.adminDash{
    position: relative;
    top: 140px;
    /*margin-top: 460px;*/

}
.adminDash1{
    position: relative;
    background: #FFFFFF;
    z-index: 5;
    height: 631px;
    width: 98.7vw;
    margin: auto;
    top: 0px;
}

#admindashli{
    position: absolute;
    width: 12px;
    height: 631px;
    background: url("../../assets/images/Line 23.png");
    background-size: cover;
    background-position: center;
    z-index: 2;
    left: 259px;
}