/*body {*/
/*    margin: 0;*/
/*    overflow-x: hidden;*/
/*}*/
/*!*::-webkit-scrollbar{*!*/
/*!*    width: 0px;*!*/
/*!*}*!*/

.logInA{
    position: relative;
    top: 167px;
    /*margin-top: 460px;*/

}
.lgmsa{
    position: relative;
    background: #D2DAE2;
    z-index: 5;
    height: 500px;
    width: 98.7vw;
    margin: auto;
    top: 0px;
}

#lgAImage{
    position: absolute;
    width: 115px;
    height: 115px;
    background: url("../../assets/images/icons8-administrator-male-80.png");
    background-size: cover;
    background-position: center;
    z-index: 2;
    top: 20px;
    left: 600px;
}

.col-2{
    position: absolute;
    top: 102px;
    left: 490px;
    margin: 0;
}

#lgma1{
    position: absolute;
    left: 549px;
    font-size: 20px;
    font-weight: bold;
    top: 133px;
}

.form-groupA1{
    position: absolute;
    top: 93px;
    width: 362px;
}

.form-groupA2{
    position: absolute;
    top: 175px;
    width: 362px;
}

#btnALogIn{
    position: absolute;
    top: 268px;
    width: 362px;
}





