@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');
/*.adminDashM2{*/
/*    position: relative;*/
/*    top: -550px;*/
/*    left: 19px;*/
/*}*/
.carDash{
    position: relative;
    background: #FFFFFF;
    z-index: 5;
    height: 663px;
    width: 98.7vw;
    margin: auto;
    top: 0px;
}

#carh{
    position: absolute;
    color: black;
    font-weight: bold;
    z-index: 2;
    top: 33px;
    left: 290px;
    font-size: 18px;
    font-family: 'IM Fell French Canon', serif;
}

#carhl{
    position: absolute;
    top: 57px;
    left: 293px;
    background: url("../../assets/images/Line 5.png");
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 2px;
    margin: 0;
}