.checkOut{
    position: relative;
    top: 30px;
    /*margin-top: 460px;*/

}
.checko{
    position: relative;
    background: #D2DAE2;
    z-index: 5;
    height: 631px;
    width: 98.7vw;
    margin: auto;
    top: 13px;
}
#checko1{
    position: absolute;
    color: #E74C3C;
    top: 48px;
    left: 125px;
}

#CheckRe{
    position: absolute;
    left: 130px;
    width: 1036px;
    top: 126px;
}

.card-body2{
    position: absolute;
    top: 102px;
    left: 288px;
    margin: 0;
}

.form-groupPl{
    position: absolute;
    left: 4px;
    top: 300px;
    width: 273px;
}

.form-groupRl{
    position: absolute;
    left: 326px;
    top: 300px;
    width: 273px;
}

.form-groupTR{
    position: absolute;
    left: 4px;
    top: 395px;
    width: 273px;
}

.form-groupLDA{
    position: absolute;
    left: 326px;
    top: 395px;
    width: 273px;
}

.btnSendRent{
    position: absolute;
    top: 427px;
    left: 800px;
    background-color: #F3BF06;
    width: 140px;
}


