@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
body {
    margin: 0;
}


* {
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    /*height: 460px;*/
    width: 100vw;
    margin: 0;
}

.h1{
    /*background:#30336b ;*/
    background: #485460;
    position: fixed;
    width: 100vw;
    top: 0;
    height: 43px;
    z-index: 10;
}

/* add icons in header */
.h1 > img {
    /*position: absolute;*/
    height: 32px;
    width: 38px;
    padding-right: 8px;
    right: 2px;
    top: 2px;
}

.list-group>li{
    display: inline-block;
    position: absolute;
    z-index: 10;
}

#lnkHome{
    right: 292px;
    position: absolute;
    top: 13px;
}

#lnkAccount{
    right: 217px;
    position: absolute;
    top: 13px;
}

#lnkStore{
    right: 154px;
    position: absolute;
    top: 13px;
}

#lnkCheckOut{
    right: 63px;
    position: absolute;
    top: 13px;
}

    /*///////////////////////////*/

.main1{
    position: relative;
    top: 0;
    /*margin-top: 460px;*/
}

.home{
    position: relative;
    background: url("../../assets/images/28803.jpg");
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    height: 590px;
    z-index: 8;
    width: 100vw;
    margin: auto;
    top: 0;
}

#hn1 {
    font-size: 30px;
    -webkit-text-fill-color: #F3BF06;
    position: absolute;
    top: 43px;
    left: 10px;
    font-family: 'Berkshire Swash', cursive;
}

#hn2 {
    font-size: 30px;
    -webkit-text-fill-color: #FFFFFF;
    position: absolute;
    top: 43px;
    left: 102px;
    font-family: 'Berkshire Swash', cursive;
}

/*.home{*/
/*    position: relative;*/
/*    background: #FFFFFF;*/
/*    z-index: 5;*/
/*    height: 631px;*/
/*    width: 98.7vw;*/
/*    margin: auto;*/
/*    top: 0px;*/
/*}*/


#t1{
    position: absolute;
    right: 0;
    left: 0;
    top: 272px;
    color: white;
    font-family: 'Inter', sans-serif;
    /*z-index: 5;*/
    z-index: 8;
    font-size: 40px;
}

#t2{
    position: absolute;
    right: 0;
    left: -133px;
    top: 337px;
    /*z-index: 5;*/
    z-index: 8;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

#t3{
    position: absolute;
    right: 0;
    left: 237px;
    top: 337px;
    /*z-index: 5;*/
    z-index: 8;
    -webkit-text-fill-color: #F3BF06;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
#t4{
    position: absolute;
    right: 0;
    left: -57px;
    top: 362px;
    /*z-index: 5;*/
    z-index: 8;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.btn-lg{
    position: absolute;
    right: 0;
    left: 660px;
    top: 438px;
    /*z-index: 5;*/
    z-index: 8;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: #E74C3C;
    font-weight: bold;
    height: 54px;
    width: 179px;
}
