
.logInME{
    position: relative;
    top: 43px;
    min-height: 100vh;
    background: #D2DAE2;
    width: 98.7vw;
    /*margin-top: 460px;*/

}
.lgmsE{
    position: relative;
    background: #D2DAE2;
    z-index: 5;
    min-height: 100vh;
    width: 98.7vw;
    margin: auto;
    top: 0px;
}

#adlo{
    position: absolute;
    top: 102px;
    left: 784px;
    margin: 0;
}

#lgmE3{
    position: absolute;
    left: 105px;
    width: 211px;
    top: 57px;
}

.form-groupEE1{
    position: absolute;
    top: 93px;
    width: 362px;
}

.form-groupEP2{
    position: absolute;
    top: 175px;
    width: 362px
}

#btnLogInE{
    position: absolute;
    top: 268px;
    width: 362px;
}

#lgImage{
    position: absolute;
    width: 30vw;
    height: 302px;
    background: url("../../assets/images/loginIm.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2;
    top: 111px;
    left: 268px
}




